@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'Roboto', sans-serif;
}

.header-bar {
    width: 100%;
    height: 60px;
    background-color: rgb(33, 150, 243);
    color: rgb(255, 255, 255);
    top: 0px;
    z-index: 1101;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.header-bar-content{
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.brand {
    height: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
}

.brand img {
    height: 50px;
}

.profile-header{
    height: 40px;
    width: 200px;
    float: right;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.profile-header:hover {
    background-color: #1c7cc7;
}

.profile-header-sx{
    display: inline-block;
}

.profile-header-dx{
    padding-left: 10px;
    display: inline-block;
}

.Avatar {
    width: 40px;
    height: 40px;
}

.BlockTitle {
    font-weight: bold;
}

.BlockDescription {
    font-style: italic;
}

.app-content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.row {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: #000000 solid 1px;
}
.row-title {
    font-weight: bold;
    padding-bottom: 5px;
}

.row-content {
    display: inline-block;
}

.row-content-right {
    display: inline-block;
    float: right;
}

.centered-div{
    text-align: center;
    width: 100%;
}

.row:hover {
    background-color: #42A5F5;
    color: #ffffff;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #42a5f5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 220px;
    top: 60px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #64b5f6;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
