@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'Roboto', sans-serif;
}

.header-bar {
    width: 100%;
    height: 60px;
    background-color: rgb(33, 150, 243);
    color: rgb(255, 255, 255);
    top: 0px;
    z-index: 1101;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.header-bar-content{
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.brand {
    height: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
}

.brand img {
    height: 50px;
}

.profile-header{
    height: 40px;
    width: 200px;
    float: right;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.profile-header:hover {
    background-color: #1c7cc7;
}

.profile-header-sx{
    display: inline-block;
}

.profile-header-dx{
    padding-left: 10px;
    display: inline-block;
}

.Avatar {
    width: 40px;
    height: 40px;
}

.BlockTitle {
    font-weight: bold;
}

.BlockDescription {
    font-style: italic;
}

.app-content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.row {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: #000000 solid 1px;
}
.row-title {
    font-weight: bold;
    padding-bottom: 5px;
}

.row-content {
    display: inline-block;
}

.row-content-right {
    display: inline-block;
    float: right;
}

.centered-div{
    text-align: center;
    width: 100%;
}

.row:hover {
    background-color: #42A5F5;
    color: #ffffff;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #42a5f5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    width: 220px;
    top: 60px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #64b5f6;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/*** form ***/

input[type="text"].input-base {
    border: #ccc solid 1px;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    height: 30px;
    width: 200px;
    font-size: 16px;
    outline: none;
    display: table-cell; 
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}
input[type="datetime-local"].input-base {
    border: #ccc solid 1px;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    height: 30px;
    width: 200px;
    font-size: 16px;
    outline: none;
    display: table-cell; 
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}
select.input-base {
    border: #ccc solid 1px;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    height: 30px;
    width: 200px;
    font-size: 16px;
    outline: none;
    display: table-cell; 
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}
.input-checkbox{
    -webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
.input-checkbox:active, .input-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.input-checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}

.input-checkbox:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

label {
    height: 30px;
    width: 200px;
    font-size: 13px;
    outline: none;
    display: table-cell; 
    vertical-align: middle;
    font-style: italic;
}

.input-block{
    margin: 10px;
    display: inline-block;
}

.input-group {
    border: #ccc solid 1px;
    border-radius: 2px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.personal-pic {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 5px solid #000000;
}

.profile-block{
    height: 40px;
    width: 250px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}

.profile-block:hover {
    background-color: #1c7cc7;
}

.profile-block-sx{
    display: inline-block;
}

.profile-block-dx{
    padding-left: 10px;
    display: inline-block;
}

.row-content{
    display: inline-block;
}

.basic-grade-container {
    margin-right: 2px;
    margin-left: 2px;
    display: inline-block;
}
.basic-grade {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 30px;
    height: 30px;
    border: solid 1px rgba(0,0,0,0.2);
    border-radius: 2px;
}

.grades-row-container{
    display: inline-block;
    max-width: 700px;
    max-height: 100px;
    overflow-x: hidden;
}
/*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/

label:hover {
    color: #000000;
}

.button-base{
    border: #ccc solid 0px;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    height: 40px;
    width: 150px;
    font-size: 16px;
    outline: none;
    display: table-cell; 
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    float: right;
    cursor: pointer;
}

.submit-button{
    background-color: #81c784;
    color: white;
    margin-left: 10px;
}
.submit-button:hover {
    background-color: #4CAF50
}

.cancel-button{
    background-color: #ebebeb;
}
.cancel-button:hover{
    background-color: #cfcfcf;
}