.base-tile{
    width: 100%;
    display: block;
    max-height: 250px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    margin-bottom: 30px;
    overflow: scroll;
    overflow-x: auto;
}

.tile-header{
    height: 30px;
    background-color: rgb(33, 150, 243);
    color: rgb(255, 255, 255);
    padding-left: 10px;
    border-radius: 2px 2px 0px 0px;
}

.tile-content{
    padding: 10px 10px 10px 10px;
}