@import url('https://fonts.googleapis.com/css?family=Roboto');

.base-tile{
    width: 100%;
    display: block;
    max-height: 250px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    margin-bottom: 30px;
    overflow: scroll;
    overflow-x: auto;
}

.tile-header{
    height: 30px;
    background-color: rgb(33, 150, 243);
    color: rgb(255, 255, 255);
    padding-left: 10px;
    border-radius: 2px 2px 0px 0px;
}

.tile-content{
    padding: 10px 10px 10px 10px;
}

.square-tile {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: rgb(33, 150, 243);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
}

.square-tile:hover{
    background-color: #1c7cc7;
}

.square-tile-image {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    width: 120px;
    height: 120px;
    display: block;
}

.square-tile-image img{
    width: 100%;
    height: 100px;
}

.square-tile-description {
    padding: 10px 10px 10px 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.center-cropped {
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 100px;
  width: 100px;
}

.clickable {
    cursor: pointer;
}