@import url('https://fonts.googleapis.com/css?family=Roboto');

.base-tile{
    width: 100%;
    display: block;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    margin-bottom: 30px;
    overflow: hidden;
    overflow-x: auto;
}

.base-tile-simple{
    width: 100%;
    display: flex;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    margin-bottom: 30px;
    overflow: hidden;
    overflow-x: auto;
}

/* to make equal element inside a flex box */
.base-tile-content{
    flex: 1; /* additionally, equal width */
  
    padding: 1em;
    border: solid;
}

.tile-content-title{
    margin-top: 1.5em;
    font-weight: bold;
    font-size: 25px;
    padding-left: 1em;
    cursor: pointer;
}
.tile-content-subtitle{
    font-weight: normal;
    font-style: italic;
    font-size: 15px;
    padding-left: 5em;
    cursor: pointer;
}

.limit-max-height{
    max-height: 250px;
}

.base-tile-half {
    width: 50%;
    display: inline-block;
}

.fixed-height{
    height: 250px;
}

.tile-header{
    height: 30px;
    background-color: rgb(33, 150, 243);
    color: rgb(255, 255, 255);
    padding-left: 10px;
    border-radius: 2px 2px 0px 0px;
}

.tile-header-title {
    display: inline-block;
}

.tile-header-title span {
    vertical-align: middle;
    display: table-cell;
}

.tile-content{
    padding: 10px 10px 10px 10px;
}

.square-tile {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: rgb(33, 150, 243);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
}

.square-tile:hover{
    background-color: #1c7cc7;
}

.square-tile-image {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    width: 120px;
    height: 120px;
    display: block;
}

.square-tile-image img{
    width: 100%;
    height: 100px;
}

.square-tile-description {
    padding: 10px 10px 10px 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.section-title-tile {
    width: 100%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    background-color: rgb(33, 150, 243);
    margin-bottom: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
.section-title-tile span{
    float: left;
}

.section-title-tile-title {
    margin-top: 8px;
    color: white;
    font-size: 20px;
}

.section-title-tile-subtitle {
    color: white;
    font-style: italic;
    font-size: 15px;
}

.center-cropped {
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 100px;
  width: 100px;
}

.clickable {
    cursor: pointer;
}

.toggle {
    display: inline-block;
    float: right;
}
